<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/css/fileupload/jquery.fileupload.css">
    
    <link href="/css/page_layout.css" rel="stylesheet">
        <!--[if lt IE 7]>
    <style media="screen" type="text/css">
    #container {
        height:100%;
    }
    </style>
    <![endif]-->
</head>
    
<body>

<div class="container">
    <div id="body">
        <!-- begin:header -->
        
        
        <!-- begin:header -->
    {% block breadcrumbs %}
    <!-- Page Header -->
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><a href="{{uri_for("home")}}">Home</a></li>
          {% include "breadcrumbs.html" %}
        </ol>
      </div>
    </div>
    {% endblock %}
    

    {% block content %}{% endblock %}
    
    

    </div>
    <div id="footer">
        <!-- Footer start -->
        <p><strong>Footer</strong> (always at the bottom). View more <a href="http://matthewjamestaylor.com/blog/-website-layouts">website layouts</a> and <a href="http://matthewjamestaylor.com/blog/-web-design">web design articles</a>.</p>
        <!-- Footer end -->
    </div>
</div>



</body>
</html>
