{% extends 'base.html' %}
{% block content %}
                <div class="row">
                <div class="col-md-3">
                    <!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Customer section</h3>
                        </div>

                        <div class="panel-body">

                            <ul class="nav nav-pills nav-stacked">
                                <li {% if is_about_us %}class="active"{% endif %}>
                                    <a href="{{uri_for('about_us')}}"><i class="fa fa-list"></i>About Us</a>
                                </li>
                                <li {% if is_contact_us %}class="active"{% endif %}>
                                    <a href="{{uri_for('contact_us')}}"><i class="fa fa-heart"></i>Contact Us</a>
                                </li>
                                <li {% if is_faq %}class="active"{% endif %}>
                                    <a href="{{uri_for('faq')}}"><i class="fa fa-user"></i>FAQ</a>
                                </li>
                                <li {% if is_owner %}class="active"{% endif %}>
                                    <a href="{{uri_for('owner')}}"><i class="fa fa-user"></i>Property Owner</a>
                                </li>
                            </ul>
                        </div>

                   </div>
                    <!-- /.col-md-3 -->

                    <!-- *** CUSTOMER MENU END *** -->
                </div>

                <div class="col-md-9">
                    <div class="box">
                      <h3>For Any Kind of Query Related To Our PG</h3>
                              <p class="lead">Sun Tower, Shipra Sun City,</p>
                               
                               <p class="lead">Indirapuram,</p>

                               <p class="lead">Ghaziabad, U.P.</p>

                               <p class="lead">201014</p>
                               
                               <p class="lead">Mobile-8802743426</p>
                           
					</div>
				</div> 
			</div>     
                        
                        {% endblock %}