               {% extends 'base.html' %} 
                 {% block content %}
                 <div class="row">
                <div class="col-sm-8" id="blog-post" ng-controller="PgController" ng-init="pgSlugInit='{{pg.key.urlsafe()}}'">
                    <div class="box"  >
                        <div class="row">
                        <div class="col-sm-8" >
                            <h3><span ng-model="pgTitle" class="allow-linebreaks" {% if is_pg_edit and is_allowed_to_edit %} contentEditable="true"{% endif%}>{{pg.pg_title}}</span></h3>
                        </div>
                        <div class="col-sm-4">
                        {% if is_pg_detail and is_allowed_to_edit %}
                            <a href="{{ uri_for('pg_edit', pg_id=pg.key.id()) }}" class="btn btn-primary pull-right btn-edit">
                                <i class="icon-white icon-ok"></i> Edit Pg
                            </a>    
                        {% endif %}
                        {% if is_pg_edit and is_allowed_to_edit %}
                        <div class="col-sm-6">
                            <a href="{{ uri_for('pg_detail', pg_id=pg.key.id()) }}" class="btn btn-success pull-right btn-edit">
                                <i class="icon-white icon-ok"></i> Back to Pg
                            </a>
                        </div>
                        <div class="col-sm-6">     
                            <a href="{{ uri_for('pg_delete', pg_id=pg.key.id()) }}" class="btn btn-danger pull-right btn-edit">
                                Delete Pg
                            </a>
                        </div>
                        {% endif %} 
                        </div> 
                        </div>    
                        <i class="icon-time"></i><p class="author-date">{{pg.added_on.strftime('%A %B %d') }}</p>
                        <p class="lead">
                            <span  ng-model='pgStreetAddress' {% if is_pg_edit and is_allowed_to_edit %} contentEditable="true"{% endif%}>
                            {{pg.pg_street_address}}
                            </span>, 
                            <span ng-model='pgCity' {% if is_pg_edit and is_allowed_to_edit %} contentEditable="true"{% endif%}>
                            {{pg.getCity().city_name}}
                            </span>
                        </p>
                        <div class="row">
                            <div class="col-sm-12 col-md-4 products-showing">
                                <h4>2 Sharing -> 
                                {% if is_pg_edit and is_allowed_to_edit %}
                                    <span ng-model='twoSharingRemaining' contentEditable="true">
                                    {% if pg.two_sharing_remaining %}
                                        {{pg.two_sharing_remaining}}
                                    {% else %}
                                        0        
                                    {% endif %}    
                                    </span>
                                {% else %}
                                <span>
                                {% if pg.two_sharing_remaining %}
                                    {{pg.two_sharing_remaining}}
                                {% else %}
                                    No        
                                {% endif %}    
                                </span>
                                {% endif %}
                                <span> Space</span>
                                </h4>
                            </div>

                            <div class="col-sm-12 col-md-8  products-number-sort">
                                <div class="row">
                                    <form class="form-inline">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="products-number">
                                                <h4>3 Sharing -> 
                                                    {% if is_pg_edit and is_allowed_to_edit %}
                                                    <span ng-model='threeSharingRemaining' contentEditable="true">
                                                        {% if pg.three_sharing_remaining %}
                                                            {{pg.three_sharing_remaining}}
                                                        {% else %}
                                                            0        
                                                        {% endif %}    
                                                    </span>
                                                    {% else %}
                                                    <span>
                                                        {% if pg.three_sharing_remaining %}
                                                            {{pg.three_sharing_remaining}}
                                                        {% else %}
                                                            No        
                                                        {% endif %}    
                                                    </span>
                                                    {% endif %}
                                                    <span> Space</span>
                                                </h4>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="post-content">
                            {% if is_pg_edit %}
                                {% include "add_file.html" %}
                            {% else %}
                            <carousel interval="5000" no-wrap="false">
                                {% for img in pg.pg_images %} 
                                <slide>
                                    <img src="{{img}}=s785-c" style="margin:auto;">
                                </slide>
                                {% endfor %}
                            </carousel>
                            {% endif %}
                            {% if is_pg_edit and is_allowed_to_edit %}
                            <p class="lead allow-linebreaks" ng-model='pgDetail' contentEditable="true">
                                {{pg.pg_detail}}
                            {% else %}
                                {{pg.pg_detail|unescape_tags}}
                            {% endif %}    
                            </p>
                        </div>
                        <!-- /#post-content -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /#blog-post -->

                <div class="col-md-4">
                    <!-- *** CONTACT OWNER FORM ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="panel-title">CONTACT 08802743426 OR Mail</h3>
                        </div>
                        <div class="panel-body">
                            {% if is_pg_detail %}
                            {% if is_admin %}      
                            {% if pg.pg_request or pg.pg_member %}
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered" ng-controller="RequestUserCtrl" ng-init="pgIdInit='{{pg.key.id()}}'">
                                    {% for sheet in sheets %}
                                        {% if sheet.is_alloted %}
                                        <tr>
                                            <td>
                                                <strong>{{sheet.user.get().user_email}}</strong>
                                            </td>
                                            
                                            <td>
                                                Add
                                                <input type="checkbox"
                                                    ng-click="saveUser('{{sheet.user.urlsafe()}}','{{sheet.sharing}}');"
                                                    checked="true"/>
                                            </td>
                                            <td>
                                                Remove
                                                <input type="checkbox"
                                                    ng-click="removeUser('{{sheet.user.urlsafe()}}','{{sheet.sharing}}');" />
                                            </td>
                                            <td>
                                            {{sheet.sharing}}
                                            </td>
                                        </tr>
                                        {% else %}
                                   
                                        {% for request_user in sheet.requested_user %}
                                        <tr>
                                            <td><strong>{{request_user.get().user_email}}</strong></td>
                                            <td>
                                                Add
                                                <input id="is-add-checkbox" 
                                                    type="checkbox"
                                                    ng-click="saveUser('{{request_user.urlsafe()}}', '{{sheet.sharing}}');" />
                                            </td>
                                            <td>
                                                Remove
                                                <input id="is-remove-checkbox"
                                                    type="checkbox"
                                                    ng-click="removeUser('{{request_user.urlsafe()}}', '{{sheet.sharing}}');" />
                                            </td>
                                            <td>
                                            {{sheet.sharing}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% if pg_user %}
                            {% if pg_user.key in pg.pg_member %}
                            <h4>Any Issue related to this PG Please Contact Owner</h4>
                            <div class="col-md-12 col-sm-12">
                                <form action="{{uri_for('pg_detail', pg_id=pg.key.id())}}" method="post">
                                    <div class="form-group">
                                        {{ macros.field(message_form.description, placeholder="Your Query", class="form-control") }}
                                        {{ macros.hidden_field(message_form.is_message) }}    
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" name="submit" value="Send Message" class="btn btn-success btn-lg">
                                    </div>
                                </form>
                            </div> 
                            {% elif pg_user.key in pg.pg_request %}
                            <div class="col-md-12 col-sm-12">
                            <h4>You have already requested for This PG</h4>
                            </div>
                            {% else %}
                            <div class="col-md-12 col-sm-12">
                                <form action="{{uri_for('pg_detail', pg_id=pg.key.id())}}" method="post">
                                    <div class="form-group">
                                        {{ macros.field(form.sharing, class="form-control") }}
                                        <hr>
                                        {{ macros.field(form.user_email, placeholder="Enter Your Email", class="form-control") }}
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" name="submit" value="Send Message" class="btn btn-success btn-lg">
                                    </div>
                                </form>
                            </div>
                            {% endif %}        
                            {% else %} 
                            <div class="col-md-12 col-sm-12">
                                <form action="{{uri_for('pg_detail', pg_id=pg.key.id())}}" method="post">
                                    <div class="form-group">
                                        {{ macros.field(form.sharing, class="form-control") }}
                                        <hr>       
                                        {{ macros.field(form.user_email, placeholder="Enter Your Email", class="form-control") }}                   
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" name="submit" value="Send Message" class="btn btn-success btn-lg">
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                            {% endif %} 
                        </div>
                    </div>
                    <!-- /.col-md-3 -->
               </div>
                    {% endblock %}